* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.player {
  background-color: blue;
  flex: 1;
  width: 100%;
}
.board {
  background-color: aqua;
  flex: 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  margin: 0.5rem;
  background-color: brown;
}
